@font-face {
  font-family: "SimsSans";
  src: url("/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf");
}
/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.container {
  font-family: "SimsSans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.logo {
  height: 75px;
  width: 100px;
}

.footer {
  font-family: "SimsSans";
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    rgb(254, 254, 254, 0) 0%,
    rgba(0, 241, 244, 0.57) 100%
  );
  margin-top: 40px;
  height: 100px;
}
.cardContainerMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.card {
  margin: 15px 7px;
  width: 270px;
  height: 93%;
  border-radius: 15px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card-img-top {
  height: 280px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.cowPlant {
  width: 100%;
}

.fa-sharp,
.fa-regular,
.fa-heart {
  margin: 5px 9px;
}

.bXBnMN {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
