/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}