@font-face {
  font-family: 'SimsSans';
  src:url('/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf');
}
.navbar{
  font-family: 'SimsSans';
  padding: 10px;
  background: white;
  height: 75px;
  background: linear-gradient(0deg, rgb(254, 254, 254, 0) 0%, rgba(0, 241, 244, 0.57) 100%);
  display: flex;
  margin-bottom: 10px;
}

.nav-item{
  margin: 15px; 
  color: white; 
}

.nav-link {
  color: black;
}

/* .search-bar {
    margin:0;
    padding:0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    /* border: 1px black solid; */
    /* border-radius: 25%; */
    /* transition-duration: 0.2s;
  }
  
  .textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius:10px;
    line-height: 40px;
    font-size: 25px;
    height:45px;
    background-color: white;
    outline: none;
    height: 100%;
    float: left;
  
    transition-duration: 0.05s;
  }
  
  .search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
    border-left: 5px black solid; 
    height: 100%;
    transition-duration: 0.2s;
  }
  
  .search-btn p {
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
  }
  
  .search-bar:hover > .textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.2s;
  }
  .search-bar:hover {
    border-radius: 10px;
   
  } 
  
 .search-bar:hover > .search-btn {
    border-radius: 5px; 
    transition-duration: 0.2s;
  }
  
  .search-btn:hover {
    background: transparent;
    border-radius: 0px 9px 9px 0px;
    transition-duration: 0.2s;
  }
  .search-btn:hover > p {
    color: white;
    transition-duration: 0.2s; 
  }   */ 


  .plumbobGif{
    width: 40px;
    height: 50px;
    position: absolute;
    right: 50%;
    left: 50%;
    background: transparent
  }

