@font-face {
    font-family: 'SimsSans';
    src:url('/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf');
  }
.MuiPaper-root {
    font-family: 'SimsSans';
    background:transparent !important;
    box-shadow:none !important;
}
.MuiPaper-elevation8 {
    font-family: ' SimsSans';
    background:transparent !important;
    
}