@font-face {
  font-family: 'SimsSans';
  src:url('/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf');
}
.listBtn {
    background: none;
    outline: none;
    border: none;
    height: 70px;
    margin-top: 10px;
  }

  .roomHeader {
    font-family: 'SimsSans';
    margin-bottom: 20px;
  }

.roomBtnContainer {
    position: relative;
}

.roomImg {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  display: block;
  
}

.fa-circle-dot{
    color: rgba(245, 245, 245, 0.897) !important;
    height: 20px;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
}


.roomBtn{
  background: none !important;
  outline: none !important;
  border: none !important;
  min-width: 20px !important;
  min-height: 20px;
  border-radius:50% !important;
  position: absolute !important;
  color: black !important;
  z-index: 8 !important;
}

.MuiPaper-root {
  font-family: 'SimsSans';
  background:transparent !important;
  box-shadow:none !important;
}
.MuiPaper-elevation8 {
  font-family: ' SimsSans';
  background:transparent !important;
  
}