@font-face {
  font-family: 'SimsSans';
  src:url('/workspace/sims-rooms-irl/src/front/styles/fonts/SimsSans.otf');
}
.SignupForm {
  font-family: SimsSans;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  }


  label {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
  }
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      font-size: 18px;
     border-radius: 5px;
    }
  

  .primary-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    background-color: #0099ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }

