.studyBtn{
    background: none !important;
    outline: none !important;
    border: none !important;
    min-width: 20px !important;
    min-height: 20px;
    border-radius:50% !important;
    position: absolute !important;
    color: black !important;
    z-index: 8 !important;
}


.studyOne{
    bottom: 298px;
    right: 177px;
}

.studyTwo{
    top: 567px;
    left: 225px;
}

.studyThree{
    top: 361px;
    right: 547px;
}

.studyFour{
    top: 871px;
    right: 915px;
}

.studyFive{
    top: 656px;
    right: 975px;
}

.studySix{
    top: 493px;
    right: 466px;
}





